<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.citilin.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".MyWidgetProvider"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service android:name=".notifications.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".notifications.MyIntentService" />

        <service android:name=".network.DownLoadService"
            android:process=".downLoad"/>

        <service android:name=".notifications.NotificationIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.MyService">
            android:process=".myService">
            <intent-filter>
                <action android:name="com.example.citilin.testapp.debug.MyService" />
            </intent-filter>
        </service>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/authority"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.characters.character.CharacterTabInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SpalshScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.mychracters.addmycharacter.AddMyCharactersActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.mychracters.updatemycharacter.UpdateMyCharacterActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5e414c5944ed518e8000ddbaaa93fffc0970f85a" />

        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity android:name=".ui.webview.YouTubeActivity" />
        <activity
            android:name=".ui.test.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".ui.test.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.TestSecondActivity" />
        <activity
            android:name=".ui.test.TouchEventTestActivity"
            android:label="@string/title_activity_touch_event_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>